
<div class="centerQrCode">
  <div class="card">
    <img src="../../../assets/avatar-min.jpg" alt="John" style="width:100%">
    <h1>Alejandro</h1>
    <a href="https://github.com/alejandrade/PointingPoker">Front End </a>
    <a href="https://github.com/alejandrade/JavaWebSocketsDemo">Back End </a>
  </div>
</div>


<form class="form">
  <div class="form-group">
    <label for="userName">Name</label>
    <input type="text" class="form-control form-control-lg rounded-0" name="userName" id="userName" [(ngModel)]="user.name" required="">
  </div>
  <div class="form-group">
    <label for="roomNumber">Room Number</label>
    <input type="text" class="form-control form-control-lg rounded-0" id="roomNumber" name="roomNumber" [(ngModel)]="room.id" >
  </div>
  <button (click)="goToRoom()" [disabled]="!user.name"  class="btn btn-primary btn-lg float-right" id="btnLogin">{{!room.id ? 'Create Room' : 'Join Room'}}</button>
</form>


