<div class="">
  <div class="card">
    <div class="card-body">
      <input class="form-control form-control-lg rounded-0" placeholder="Username" type="text" (keyup)="onKeyChangeUsername($event)" [(ngModel)]="currentUser.name">
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Story Name" name="storyName" id="storyName" [(ngModel)]="room.currentStory.storyName" (keyup)="onKeySetStoryName($event)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h2 [ngClass]="reachedConsensus() ? 'text-success' : 'text-danger'" *ngIf="room.showVotes">
            {{room.currentStory.score}}
            <span *ngIf="!reachedConsensus()" >(no consensus)</span>
            <span *ngIf="reachedConsensus()" >(consensus)</span>
          </h2>
          <h1 class="text-muted" *ngIf="!room.showVotes">?</h1>
        </div>
      </div>
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Vote</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of room.users">
          <td *ngIf="!user.spectator" [ngClass]="user.vote ? 'text-success' : 'text-muted'">{{user.name}}</td>
          <td *ngIf="user.spectator" class="text-info">{{user.name}}</td>
          <td>
            <span class="text-success" *ngIf="room.showVotes">{{user.vote}}</span>
            <span class="text-muted" *ngIf="!room.showVotes">?</span>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="kickUser(user.id)">Kick</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="card-body">
    <div class="row">
      <div class="btn-group contentCenter" *ngIf="!currentUser.spectator" role="group" aria-label="Basic example" style="padding-bottom: 3px;">
        <button class="btn btn-info" (click)="vote(0)">0</button>
        <button class="btn btn-info" (click)="vote(1)">1</button>
        <button class="btn btn-info" (click)="vote(2)">2</button>
        <button class="btn btn-info" (click)="vote(3)">3</button>
        <button class="btn btn-info" (click)="vote(5)">5</button>
        <button class="btn btn-info" (click)="vote(8)">8</button>
        <button class="btn btn-info" (click)="vote(13)">13</button>
        <button class="btn btn-info" (click)="vote(20)">20</button>
      </div>
    </div>
    <hr>
    <div class="row contentCenter">
      <div class=col-12>
        <div class="btn-group">
          <button class="btn" [ngClass]="currentUser.spectator ? 'btn-outline-primary' : 'btn-primary'" (click)="updateSpectator()">Spectator</button>
          <button class="btn btn-primary" (click)="clearVotes()">Clear</button>
          <button class="btn btn-primary" (click)="showVotes(true)">Show</button>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-group" *ngFor="let story of room.stories">
      <li class="list-group-item" [ngClass]="story.consensus ? 'text-success' : 'text-danger'">
        {{story.storyName}} - {{story.score || 0}}
        <span *ngIf="!story.consensus" >(no consensus)</span>
        <span *ngIf="story.consensus" >(consensus)</span>
        -
        <button (click)="deleteStory(story.id)" class="btn btn-sm btn-danger"> delete </button>
      </li>
    </ul>
  </div>

</div>
