<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <!-- form card login -->
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">{{title}}</h3>
            </div>
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <a href="https://github.com/alejandrade/PointingPoker">Front End Code</a> |
      <a href="https://github.com/alejandrade/JavaWebSocketsDemo">Back End Code</a>.</span>
  </div>
</footer>
